---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20

ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true
ShortNamespaceLines: 1

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: All
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false

AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false

BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakBeforeBinaryOperators: None

PointerAlignment: Left
ReferenceAlignment: Pointer
QualifierAlignment: Left

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<sympp/'
    Priority: 4
  - Regex: '^<(gmp|mpfr|catch2)'
    Priority: 3
  - Regex: '^<[a-z_]+>'
    Priority: 2
  - Regex: '.*'
    Priority: 5

SortIncludes: CaseInsensitive
SortUsingDeclarations: true

SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
EmptyLineBeforeAccessModifier: LogicalBlock
PackConstructorInitializers: NextLine
